@tailwind base;

@tailwind components;

.space-hero {
  @apply box-border w-screen h-screen bg-custom-black-900
}

.space-hero-name-wrapper {
  @apply box-border w-screen h-auto absolute top-p30 left-0 z-10
}

.space-hero-name {
  @apply text-hero-xxsm box-border font-bold flex justify-center w-screen 
  font-roboto text-gray-300 text-opacity-75 tracking-wide pointer-events-none
}

.space-hero-button-wrapper {
  @apply z-10 box-border w-screen absolute bottom-p7-5
}

.btn-space {
  @apply flex justify-center text-gray-100 text-opacity-75 font-roboto text-xl
         py-2 px-0 border-2 border-gray-100 border-opacity-75 bg-gray-400 
         bg-opacity-25 w-48 transition ease-in duration-300
}

.btn-space:hover {
  @apply bg-custom-purple-400 border-custom-purple-400 bg-opacity-75 
         text-gray-100
}

@screen xsm {
  .space-hero-name {
    @apply text-hero-xsm
  }
}

@screen sm {
  .space-hero-name {
    @apply text-hero-sm
  }
}

@screen smmd {
  .space-hero-name {
    @apply text-hero-smmd
  }
}

@screen md {
  .space-hero-name {
    @apply text-hero-md
  }
}

@screen lg {
  .space-hero-name {
    @apply text-hero-lg
  }
}

@screen lglg {
  .space-hero-name {
    @apply text-hero-lglg
  }
  .space-hero-name-wrapper {
    @apply top-p20
  }
}

@screen lgxl {
  .space-hero-name {
    @apply text-hero-lgxl
  }
}

@screen xl {
  .space-hero-name {
    @apply text-hero-xl
  }
}

.night-sky-canvas {
  @apply box-border w-screen h-screen
}

.navbar {
  @apply box-border flex justify-end
}

.nav-spacing-right {
  top: 2rem;
  right: 2rem;
}

.nav-button {
  @apply h-5 w-5 bg-gray-300 bg-opacity-75 rounded-full flex mx-3
}

.nav-link {
  @apply hidden my-3 
}

.active-profile {
  @apply bg-custom-purple-400 h-6 w-6
}

.active-hero {
  @apply bg-custom-red-500 h-6 w-6
}

.active-projects {
  @apply bg-green-800 h-6 w-6
}

.btn {
  @apply py-3 px-4 rounded
}

.btn-teal {
  @apply bg-custom-teal-300 text-custom-grey-900 font-semibold 
}

.btn-teal:hover{
  @apply bg-teal-gradient
}

.card {
  @apply box-border h-96 flex items-center justify-center;
}

.card-title {
  @apply box-border w-p90 h-14 font-semibold text-2xl ml-p5;
}

.card-content {
  @apply box-border w-p90 h-64 font-thin ml-p5;
}

.card-spacer {
  @apply box-border w-p90 h-10;
}

@screen sm {
  .card {
    @apply w-128 h-96
  }
  .card-title {
    @apply w-128 ml-0
  }
  .card-style {
    @apply w-128
  }
  .card-content {
    @apply w-128 ml-0
  }
  .card-spacer {
    @apply h-12
  }
}

@screen md {
  .card {
    @apply w-96 h-128
  }
  .card-title {
    @apply w-96
  }
  .card-style {
    @apply w-96
  }
  .card-content {
    @apply w-96
  }
}

@screen xsm {
  .profile {
    @apply pt-0
  }
}

@screen md {
  .profile {
    @apply pt-6 pl-12
  }
}

.pane-left {
  @apply flex items-center justify-center text-center pt-6;
}

.pane-right {
  @apply flex items-center justify-center text-center pt-16 pb-6;
}

.pane {
  @apply h-350 w-full;
}

@screen xsm {
  .pane {
    @apply h-300 w-full;
  }
}

@screen sm {
  .pane {
    @apply h-256
  }
  .pane-left {
    @apply pt-12
  }

  .pane-right {
    @apply pt-0
  }
}

@screen md {
  .pane {
    @apply flex items-stretch h-full
  }
  .pane-left {
    @apply flex-1 justify-end text-left p-8
  }

  .pane-right {
    @apply flex-1 justify-start text-right p-8 
  }
}

.hero {
  @apply flex items-center justify-center h-screen w-screen font-serif
}
 
.hero-title {
  @apply box-border h-16 w-80 text-4xl tracking-wide text-center border-b
}

.hero-footer {
  @apply my-4 box-border text-2xl font-light h-24 text-center
}

@screen sm {
  .hero-title {
    @apply h-28 w-128 text-6xl tracking-wide
  }
  
  .hero-footer {
    @apply my-4 box-border text-3xl font-light h-24 text-center
  }
}

.banner {
  @apply flex items-end justify-center h-p20 w-screen
}

.banner-header {
  @apply box-border h-auto w-p40 tracking-wide text-center font-roboto
}

.profile-banner {
  @apply flex-col justify-end h-p30 w-screen bg-gray-100 pointer-events-none
}

.profile-banner-header {
  @apply flex justify-center items-center h-56
}

.banner-content {
  @apply pt-p1 tracking-wide text-center font-roboto text-gray-900 
         text-hero-lgxl font-bold pointer-events-none
}

.underline-small {
  display: inline-block;
  position: relative;
}

.underline-small::after {
  content: '';
  height: 12px;
  width: 50%;
  position: absolute;
  background: #1A202C;
  left: 25%;
  bottom: 15%;
}

.profile-content {
  @apply flex items-center text-white w-screen h-142
}

.profile-pane-left {
  @apply flex justify-center items-center h-128 w-p70
}

.profile-text {
  @apply flex-col w-p90 ml-p10 h-auto text-left text-custom-black-900 font-roboto font-thin text-3xl
}

.profile-tech {
  @apply box-border py-1 px-2 mr-2 rounded-lg border-2 border-custom-purple-400 
  text-gray-900
}

.profile-text-link {
  @apply font-bold text-custom-purple-400
}

.profile-image-wrapper {
  @apply flex pl-p2-5 content-center h-128 w-p30
}

.profile-image-outer {
  @apply box-border flex items-center h-full
}

profile-image {
  @apply h-96 border-8 border-custom-grey-900 rounded-circle
}



@screen lgxl {
  /* .profile-text {
    @apply text-3xl
  } */
}

@screen xl {
  /* .profile-text {
    @apply text-4xl
  } */
}

@tailwind utilities;

/* Your custom CSS here */

@responsive {
  .bg-teal-gradient {
    /* background-image: linear-gradient(#62f4eb, #3ae7e1); */
    background-image: linear-gradient(theme('colors.custom-teal-300'), theme('colors.custom-teal-400'));
  }
}